<h1>{{ question.question_text|safe }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
	<!-- Additional user-generated choice input field -->
	<input trype="text" name="user_choice" placeholder="Enter your own choice" value="{{ user_choice|safe }}">

	<input type="submit" value="Vote">
</form>